#nav{    
    background-color: dimgray;
    grid-area: nav;    
    height: 180px;
    margin: 10px;
}
#nav{
    text-align: start;
    align-items: center;
    display: flex; 
}
#leftMenu{
    grid-area:leftMenu; 
    height: 800px;   
    
}
#leftMenu>ul{
    list-style: none;
    padding-inline-start: 0px;
}
#leftMenu>ul>li{
    background-color: burlywood;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;
}
#leftMenu>ul>li>:hover{
    background-color: lightcoral;
}

#main{
    grid-area: main;
    height: 600px;
}
#main>ul{
    list-style: none;
}
#rightMenu{
    grid-area: rightMenu;
}

#rightMenu>ul{
    list-style: none;
}
#rightMenu>ul>li{
    background-color: burlywood;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;
}
#footer{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: dimgray;
    grid-area: foter;
    height: 200px;

}
#container{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'leftMenu main main rightMenu'
    'foter foter foter foter';
    text-align:center;
    
}
.logo{  
    width: 160px;
    border-radius: 50px;
}
.navlist{
    list-style: none;
    border-radius: 50px;
}
.navlist{
    margin-left: 180px;
    background-color: blue;
    padding: 15px;
    /* border-radius: ; */

}