body{
    height: 100vh;
}
/* القسم الأول */
.header{
    background-color: rgb(26, 96, 34);
    border-radius: 10px;
    padding: 1px; 
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}
.header1{
    color: white;
    margin-left: 10px;
    font-size: large;
}
.header2{
    color: white;
    justify-content: center;
    font-size: large;
    margin-left: 25%;
}



/* القسم الثاني */
.mainContent{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 80px;
    margin: 0;
    padding: 50px;
}
.main{
    background-color: rgb(245, 245, 245);
    box-shadow:01px 0px 5px 0px;
    border-radius: 10px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main>img{
    width: 100px;
    border-radius: 900px;
    background-color: bisque;
    border: 500px;
    margin-left: 10px;
}
.Name{
    font-size: 30px;
    margin-left: 10px;
}
.Title{
    font-size: 20px;
    align-items: center;
    margin-left: 10px;
}
.Discrption{
    font-size: 20px;
    margin-left: 10px;
}
.button{
    font-size: 15px;
    background-color: rgb(26, 96, 43);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 10px;
}



/*  القسم الثالث*/
.fotter{
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
    background-color:rgb(220, 221, 214);    
}

.fotter>p{
    padding: 1px;
    margin-left: 45%;
}
